@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&family=Noto+Serif+JP:wght@400;500;600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
//==============================================================================================
//
//  SUPPORTS
//
//==============================================================================================
@supports (-webkit-touch-callout: none) {
  html{
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    height: -webkit-fill-available;
  }
}

//==============================================================================================
//
//  COMPONENTS
//
//==============================================================================================
@layer components {
  
  /* ==========================================================================
    Base
  ========================================================================== */
  
  // safari 文字落ちバグ
  _::-webkit-full-page-media, _:future, :root body {
    @apply [font-feature-settings:"pkna"];
  }
  
  *,*:before,*:after {
    @apply box-border;
  }
  
  body {
    @apply relative m-0 overflow-x-hidden overflow-y-scroll text-black text-16ptr md:text-20ptr text-justify font-notosansjp font-normal leading-[1.6] tracking-wider;
    overscroll-behavior-y: none;
    font-feature-settings: "palt";
  }
  
  section {
    @apply mb-8 md:mb-16 mx-auto;
  }
  
  iframe {
    @apply opacity-100;
  }
  
  /*----------------------------------------------------------------
    COMMON
  ----------------------------------------------------------------*/
  
  .container {
    h2 {
      @apply text-24ptr lg:text-56ptr text-blue-550 text-center font-notoserifjp font-medium tracking-widest select-none mb-20;
    }
    &.content {
      @apply xl:px-[20%];
    }
  }
  
  
  /*----------------------------------------------------------------
    Wavify
  ----------------------------------------------------------------*/
  .wave {
    @apply absolute top-0 bottom-0 left-0 right-0 z-[1];
  }
  
  .wave + .wave {
    @apply z-[2];
  }
}